.search-bar {
    width: 750px;
    margin-bottom: 20px;
}

.player-option {
    display: flex;
    align-items: center;
}

.player-option-image {
    height: 32px;
    margin-right: 20px;
}

.player-option-label {
    font-size: 15px;
}